{% extends './layout.html' %}
{% block content %}
  <form action='/users' method='POST'>
    <div class='form-group'>  
      <label><strong>User Info:</strong></label>
      <input class="form-control" name='name' placeholder="Enter Your Name" />
      <br>
      <input class="form-control" name='hometown' placeholder="Enter your Hometown (ex. New York, NY)" />
      <br>
      <input class="form-control" name='bio' placeholder="Tell us about yourself!" />
    </div>
    <button class="btn btn-primary">Save User</button>
  </form>
  <ul class='list-group'>
    {% for user in users %}
    <li class='list-group-item'>
      <strong><a href="/users/{{user.id}}"> {{user.name}} </a></strong>
      <form method="POST" action="/users/{{user.id}}?_method=DELETE">
      <br>
      <button class='btn btn-danger'>Delete</button>
    </li>
    </form>
    {% endfor %}
  </ul>
{% endblock %}